<?xml version="1.0"?>
<config>
  <modules>
    <WTC_ButtonsColor>
      <version>0.1.0</version>
    </WTC_ButtonsColor>
  </modules>
  <frontend>
    <routers>
      <buttonscolor>
        <use>standard</use>
          <args>
            <module>WTC_ButtonsColor</module>
            <frontName>buttonscolor</frontName>
          </args>
      </buttonscolor>
    </routers>
		<layout>
		  <updates>
			<buttonscolor>
			  <file>buttonscolor.xml</file>
			</buttonscolor>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <buttonscolor>
        <class>WTC_ButtonsColor_Helper</class>
      </buttonscolor>
    </helpers>
	<blocks>
	  <buttonscolor>
		<class>WTC_ButtonsColor_Block</class>
	  </buttonscolor>
	</blocks>
  </global>
</config> 