<?xml version="1.0"?>
<config>
  <modules>
    <WTC_Enquiry>
      <version>0.1.0</version>
    </WTC_Enquiry>
  </modules>
  <frontend>
    <routers>
      <enquiry>
        <use>standard</use>
          <args>
            <module>WTC_Enquiry</module>
            <frontName>enquiry</frontName>
          </args>
      </enquiry>
    </routers>
  </frontend>
  <global>
		<rewrite>        
            <wtc_enquiry_contacts_indexcontroller>
                <from><![CDATA[#^/contacts/index/#]]></from> <!-- Mage_Contacts_IndexController  -->
                <to>/enquiry/contacts_index/</to> <!-- WTC_Enquiry_Contacts_IndexController  -->
            </wtc_enquiry_contacts_indexcontroller>
		</rewrite>
		<models>
            <enquiry>
                <class>WTC_Enquiry_Model</class>
                <resourceModel>enquiry_mysql4</resourceModel>
            </enquiry>
            <enquiry_mysql4>
                <class>WTC_Enquiry_Model_Mysql4</class>
                <entities>
                    <enquiry>
                        <table>wtc_enquiry_details</table>
                    </enquiry>
                </entities>
            </enquiry_mysql4>
        </models>
    <helpers>
      <enquiry>
        <class>WTC_Enquiry_Helper</class>
      </enquiry>
    </helpers>
	<blocks>
	  <enquiry>
		<class>WTC_Enquiry_Block</class>
	  </enquiry>
	</blocks>
	<resources>
	  <enquiry1_setup>
		<setup>
		  <module>WTC_Enquiry</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </enquiry1_setup>
	  <enquiry_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </enquiry_write>
	  <enquiry_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </enquiry_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <enquiry>
	    <use>admin</use>
		<args>
		  <module>WTC_Enquiry</module>
		  <frontName>enquiry</frontName>
		</args>
	  </enquiry>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <enquiry module="enquiry">
		<title>Enquiry</title>
		<sort_order>100</sort_order>
		<children>
		  <enquirybackend module="enquiry">
			<title>Manage Enquiries</title>
			<sort_order>0</sort_order>
			<action>enquiry/adminhtml_enquiry</action>
		  </enquirybackend>
		</children>
	  </enquiry>
	</menu>
	<acl>
	  <resources>
            <enquiry_setup>
                <setup>
                    <module>WTC_Enquiry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </enquiry_setup>
            <enquiry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </enquiry_write>
            <enquiry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </enquiry_read>
        </resources>
	</acl>
	<layout>
	  <updates>
		<enquiry>
		  <file>enquiry.xml</file>
		</enquiry>
	  </updates>
	</layout>
  </adminhtml>
</config> 